
header{
    position: relative;
    background-color: #587ea3;
    @include set-background('../images/responsive-bg1.png', cover);

    .jumbotron{
        .overlay {
            position: absolute;
            background-color: #5d5f5fe6;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: .3;
        }
        background: transparent;
    }
}

footer{
    background: #343a40;
    font-size: 0.7rem;
    padding: 0.8rem;
    color: #e9eaeb;
}